@page
@model EEMG_Login.Pages.AdminModel
@{
}



<div class="row">


    <table>
        <thead>
            <tr>
                <td> Users </td>
                <td> Role</td>
            </tr>
        </thead>

        @foreach(var user in Model.Users)
        {
            <tr>
                <td> @user.UserName</td>
                <td> @user.RoleName</td>
            </tr>
        }


    </table>


</div>