/*.container {
    position: relative;
    text-align: center;
    color: white;
}*/
/* Centered text */
/*.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:25%;
}*/

.about-us {
    text-align:left;
    float:left;
}

h1 {
    color:blue;
    text-align:center;
}

