@page
@model EEMG.Pages.CreateEventModel
@{
}

<form method="post" asp-controller="Events" asp-action="AddEvent" enctype="multipart/form-data">
    <div>
        <div class="row">
            <div class="col-md-4">
                <span class="label label-default" style="font-weight:bold; margin-right:2%;">Event Title *</span>
                <input type="text" asp-for="EventTitle">
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <span class="label label-default" style="font-weight:bold;">Event Time *</span>
                <input type="datetime-local" asp-for="EventTime"
                       name="eventTime"  step="1" value="@DateTime.Now.ToString("s")">
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <span class="label label-default" style="font-weight:bold;">Event Location*</span>
                <input type="text" asp-for="EventLocation">
            </div>
        </div>
        <hr />


        <div class="row">
            <div class="col-md-4">
                <span class="label label-default" style="font-weight:bold;">Event File *</span>
                <input type="file" asp-for="EventFile" name="eventFile">
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <span class="label label-default" style="font-weight:bold;">Event Speaker</span>
                <input type="text" asp-for="Speaker">
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <span class="label label-default" style="font-weight:bold;">Speaker Bio </span>
                <input type="text" asp-for="SpeakerBio">
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-success">
            </div>
        </div>
    </div>

</form>