@model EEMG.Pages.EventSignUpModel
@{
}

<h1>Sign up For The Event </h1>

<form method="post" asp-controller="Events" asp-action="SignupUserForEvent" enctype="multipart/form-data">
    <input type="hidden" asp-for="EventId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">First Name: </label>
            <input type="text" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label>Last Name: </label>
            <input type="text" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Organization: </label>
            <input type="text" asp-for="Organization" class="form-control" />
            <span asp-validation-for="Organization" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="control-label">Email: </label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary"> Sign up!</button>
        </div>
    </div>
</form>



@section Scripts
  {
    <partial name="_ValidationScriptsPartial" />
}


